div{
    border-radius: 5px;
}

button {
    border-radius: 20px;
}

.row {
    display: flex;
    gap: 5px; 
    width: 100%;
    height: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 50%;
    height: 100%;
}
.score {
    border: 1px solid #aaa;
    padding-bottom: 3px;
    height: 15%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    font-size: 25;
    color: white;
}
.score.red {
    background: #c40707;
}

.score.blue {
    background: #0f1f7e;
}

.button-score{
    padding: 3px;
    text-align: center;
    height: 20%;
    font-size: 22;
    border: 1px solid #c40707;
    color: white;
}
.button-score.red{
    background: #c40707;
}
.button-score.blue{
    background: #0f1f7e;
}

.back{
    padding: 3px;
    background: #02092c;
    text-align: center;
    height: 10%;
    align-self: center;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 18;
    border: 1px solid #c40707;
    color: white;
}