body{
    background: rgba(255, 255, 255)
}

div{
    border-radius: 0px;
}

button {
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 20px;
}

.row {
    display: flex;
    gap: 0px; 
    width: 100%;
    height: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 50%;
    height: 100%;
}
.score {
    padding-bottom: 3px;
    height: 15%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    font-size: 25;
    color: white;
}
.score.red {
    background: rgb(185, 0, 0);
}

.score.blue {
    background: rgb(0, 0, 185);
}

.button-score{
    padding: 0px;
    text-align: center;
    height: 20%;
    font-size: 22;
    color: white;
    border: 0;
}
.button-score.red{
    background: rgb(185, 0, 0);
}
.button-score.blue{
    background: rgb(0, 0, 185);
}

.back{
    padding: 0px;
    background: rgb(0, 126, 143) ;
    text-align: center;
    height: 10%;
    align-self: center;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 18;
    color: white;
    border: 0;
}

.menu-button {
    position: fixed;
    background: rgb(0, 126, 143) ;
    top: 30px;
    right: 25px;
    height: 45px;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 3;
    padding: 0 0;
}

.menu-button span {
    display: block;
    width: 50%;
    height: 2px;
    background-color: white;
    margin: 2px 0;
    transition: all 0.3s ease;
}

.menu-open .menu-button span:nth-child(1) {
    transform-origin: center;
    transform: translateY(6px) rotate(45deg);
}

.menu-open .menu-button span:nth-child(2) {
    opacity: 0;
}

.menu-open .menu-button span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}


.side-menu {
    position: fixed;
    top: 0;
    right: -40dvw;
    width: 40dvw;
    height: 100vh;
    background: rgba(0, 151, 172);
    color: white;
    z-index: 2;
    transition: right 0.3s ease;
    padding-top: 110px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-open .side-menu {
    right: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s;
}

.menu-open .overlay {
    opacity: 1;
    visibility: visible;
}

.cleen{
    padding: 0px;
    text-align: center;
    width: 40%;
    height: 60px;
    font-size: 22;
    color: white;
    border: 0;
    background: rgb(0, 126, 143) 
}